doctype 5
html(lang="en")
  head
    meta(charset="utf-8")

    title Grunt presentation
    
    link(href="css/main.css", type="text/css", rel="stylesheet", media="screen")")
  body
    #container
      h1 Grunt presentation
